@import "tailwindcss";
@source ".";

@font-face {
    font-family: Bricolage;
    src: url('./assets/fonts/BricolageGrotesque.ttf');
}

@font-face {
    font-family: Lato-Regular;
    src: url('./assets/fonts/Lato-Regular.ttf');
}


@theme{
    --font-display: "Bricolage", "sans-serif";
    --font-text: "Lato-Regular", "sans-serif";


    --color-bg-dark: #0F1E17;
    --color-bg-dark-card: #182A20;

    --color-bg-light: #EEF3EB;
    --color-bg-light-card: #D9E2D5;

    --color-forest: #1F3329;
    --color-forest-mid: #4A5A52;

    --color-sage: #B4C7AE;
    --color-sage-shade: #a2b39d;

    --color-coral: #D77A61;
    --color-coral-dark: #CC5433;
    --color-coral-light: #E8B0A1;

    --color-text-primary-dark: #E8E4DC;
    --color-text-muted-dark: #8A9A87;

    --color-text-primary-light: #1A2018;
    --color-text-muted-light: #5C6A58;

    --radius: 0.75rem;

}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--color-bg-light);
        color: var(--color-text-primary-light);
        font-family: 'Lato-Regular', 'sans-serif';
    }

    .font-display {
        font-family: 'Bricolage', 'sans-serif';
    }
}

@layer components {
    .blur-bg{
        background-color: color-mix(in srgb, var(--color-bg-light-card) 50%, transparent);
        backdrop-filter: blur(16px);
        border: 1px solid color-mix(in srgb, var(--color-bg-light) 50%, transparent);
    }
    .blur-bg-strong{
        background-color: color-mix(in srgb, var(--color-bg-light-card) 80%, transparent);
        backdrop-filter: blur(24px);
        border: 1px solid color-mix(in srgb, var(--color-bg-light) 60%, transparent);
    }


}