@import "tailwindcss";

@source ".";

@font-face {
    font-family: Bricolage;
    src: url('./assets/fonts/BricolageGrotesque.ttf');
}

@font-face {
    font-family: Lato-Regular;
    src: url('./assets/fonts/Lato-Regular.ttf');
}


@theme{
    --font-display: "Bricolage", "sans-serif";
    --font-text: "Lato-Regular", "sans-serif";

    --color-bg-dark: #020302;
    --color-bg-dark-card: #09110D;

    --color-bg-light: #fcfdfc;
    --color-bg-light-card: #E5F2EB;

    --color-forest: #1F3329;
    --color-forest-mid: #4A5A52;

    --color-sage: #B4C7AE;
    --color-sage-shade: #a2b39d;

    --color-accent: #D77A61;
    --color-accent-dark: #CC5433;

    /*--color-accent: #E65180;*/
    /*--color-accent-dark: #AE1948;*/
    --color-text-primary-dark: #070808;
    --color-text-primary-light: #EBEBEB;

    --radius: 0.75rem;

    --shadow-custom-lg: 5px 3px 16px 3px rgba(74,90,82,0.15);

}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--color-bg-light);
        color: var(--color-text-primary-dark);
        font-family: 'Lato-Regular', 'sans-serif';
        font-size: 1.1rem;

    }

    .font-display {
        font-family: 'Bricolage', 'sans-serif';
    }

    p {
        line-height: 2;
    }
}

@layer components {
    .blur-bg {
        background-color: color-mix(in srgb, var(--color-bg-light-card) 50%, transparent);
        backdrop-filter: blur(16px);
        border: 1px solid color-mix(in srgb, var(--color-bg-light) 50%, transparent);
    }

    .blur-bg-strong {
        background-color: color-mix(in srgb, var(--color-bg-light-card) 80%, transparent);
        backdrop-filter: blur(24px);
        border: 1px solid color-mix(in srgb, var(--color-bg-light) 60%, transparent);
    }

    .border-gradient-left {
        position: relative;
        padding-left: 1rem;
    }

    .border-gradient-left::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 2px;
        background: linear-gradient(to bottom, #4A5A52, #4A5A5200);
    }

}